### ETL Process
Use this notebook to develop the ETL Process for each tables before completing the etl.py file to load the whole datasets

In [4]:
import os
import glob
import psycopg2
import pandas as pd
from sql_queries import *

ModuleNotFoundError: No module named 'psycopg2'

In [ ]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

In [ ]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files:
            all_files.append(os.path.abspath(f))
            
        return all_files

### Process song_data:
In the first part, you'll perform ETL on the first dataset, song_data, to create the songs and artists dimentional tables.
Perform ETL on a single song file and load a single record into each table to start.
+ Use the get_files function provided above to get a list of all song JSON files in data/song_data
+ Select the first song in this list
+ Read the song file and view the data

In [ ]:
song_files = get_files('data/song_data')

In [ ]:
file_path = song_files[0]

In [ ]:
df = pd.read_json(filepath, lines=True).iloc[0]
# cast to psycopg2 to learn data type
df['year'] = df['year'].item()
df.head()

### 1: song_table
Extract data for songs table
+ Select columns for song ID, title, artist ID, year, and duration
+ Use df.values() to select just the values from the dataframe
+ Index to select the first (only) record in the dataframe
+ Convert the array to a list and set it to song_data

In [ ]:
song_data = df[['song_id', 'title', 'artist_id', 'year', 'duration']].values.tolist()
song_data

### Insert Record into Song Table
Implement the song_table_insert query in sql_queries.py and run the cell below to insert a record for this song into the songs table. Remember to run create_tables.py before running the cell below to ensure you've created/resetted the songs table in the sparkify database.

In [ ]:
cur.execute(song_table_insert, song_data)
conn.commit()

Run test.ipynb to see the result

### 2: artists Table
Extract Data for Artists Table
+ Select columns for artist ID, name, location, latitude, and longitude
+ Use df.values to select just the values from the dataframe
+ Index to select the first (only) record in the dataframe
+ Convert the array to a list and set it to artist_data

In [ ]:
artist_data = df[['artist_id', 'artist_name', 'artist_location', 'artist_latitude', 'artist_longitude']].values.tolist()
artist_data

### Insert Record into Artist Table
Implement the artist_table_insert query in sql_queries.py and run the cell below to insert a record for this song's artist into the artists table. Remember to run create_tables.py before running the cell below to ensure you've created/resetted the artists table in the sparkify database.

In [ ]:
cur.execute(artist_table_insert, artist_data)
conn.commit()

Run test.ipynb

### Process log_data
In this part, you'll perform ETL on the second dataset, log_data, to create the time and users dimensional tables, as well as the songplays fact table.

Let's perform ETL on a single log file and load a single record into each table.
+ Use the get_files function provided above to get a list of all log JSON files in data/log_data
+ Select the first log file in this list
+ Read the log file and view the data

In [ ]:
log_files = get_files('data/log_data')

In [ ]:
filepath = log_files[0]

In [ ]:
df = pd.read_json(filepath, lines=True)
df.head()

#3: time Table

### Extract Data for Time Table
+ Filter records by NextSong action
+ Convert the ts timestamp column to datetime
//the current timestamp is in milliseconds
+ Extract the timestamp, hour, day, week of year, month, year, and weekday from the ts column and set time_data to a list containing these values in order
//use pandas' dt attribute to access easily datetimelike properties.
+ Specify labels for these columns and set to column_labels
+ Create a dataframe, time_df, containing the time data for this file by combining column_labels and time_data into a dictionary and converting this into a dataframe

In [ ]:
filter_by_next_song = df['page']=='NextSong'

df = df[filter_by_next_song]
df.head()

In [ ]:
t = pd.to_datetime(df['ts'], unit='ms')
t.head()

In [ ]:
time_data = [t, t.dt.hour, t.dt.day, t.dt.week, t.dt.month, t.dt.year, t.dt.weekday]
column_labels = ['timestamp', 'hour', 'day', 'week', 'month', 'year', 'weekday']

In [ ]:
time_df = pd.DataFrame.from_dict(dict(zip(column_labels, time_data)))
time_df.head()

### Insert Records into Time Table
Implement the time_table_insert query in sql_queries.py and run the cell below to insert records for the timestamps in this log file into the time table. Remember to run create_tables.py before running the cell below to ensure you've created/resetted the time table in the sparkify databas

In [ ]:
for i, row in time_df.iterrows():
    cur.execute(time_table_insert, list(row))
    conn.commit()

Run test.ipynb to see if you've successfully added records to this table.

#4: users Table

Extract data for users table
+ Select columns for user ID, first name, last name, gender and level and set to user_df

In [ ]:
user_df = df[['userId', 'firstName', 'lastName', 'gender', 'level']] 
user_df.head()

### Insert Records into Users Table
Implement the user_table_insert query in sql_queries.py and run the cell below to insert records for the users in this log file into the users table. Remember to run create_tables.py before running the cell below to ensure you've created/resetted the users table in the sparkify database

In [ ]:
for i, row in user_df.iterrows():
    cur.execute(user_table_insert, row)
    conn.commit()

Run test.ipynb to see if you've successfully added records to this table.

#5: songplays Table

### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the songplays table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
+ Implement the song_select query in sql_queries.py to find the song ID and artist ID based on the title, artist name, and duration of a song.
+ Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to songplay_data